@{
    // ReSharper disable MustUseReturnValue
    ViewData["Title"] = "Login Page";
}
@* @model object *@
@* @{ *@
@*     ViewBag.Title = "title"; *@
@*     Layout = "_Layout"; *@
@* } *@

<h2>Login page</h2>

@model LoginViewModel

<form method="post" asp-controller="Home" asp-action="LoginAction">
    <input type="text" asp-for="Email" value="@Model.Email"/>
    <br/>
    <input type="password" asp-for="Password" value="@Model.Password"/>
    <button type="submit">Login</button>
</form>
